.wrapper{
  position:relative;
  width:90%;
  max-width:1920px;
  min-height:calc(100vh - (230px + 120px));
  margin:0 auto;
}

@media (min-width: 992px){
  
}
.headerWrap{
  position:relative;
  position:sticky;
  top:0;
  left:0;
  z-index:100;
  width:100%;
  height:230px;
  background:#fff;
  box-sizing:border-box;
  border-bottom:1px solid #e9e9e9;
  box-shadow: 0 10px 30px rgba(0,0,0,0.07);
  .wrapper{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
    min-height:auto;
  }
  .utils{
    position:absolute;
    top:20px;
    right:0;
    display:flex;
    flex-direction: row-reverse;
    .btn_login{
      display:flex;
      align-items:center;
      width:auto;
      height:38px;
      border:none;
      padding:0 15px;
      border:1px solid #d5d5d5;
      box-sizing:border-box;
      font-size:0.85rem;
      text-decoration:none;
      color:#000;
      cursor:pointer;
      span{
        display:inline-block;
        margin-left:5px;
      }
      &:hover{
        background:#d5d5d5;
      }
    }
    .searchBox{
      display:flex;
      align-items: center;
      margin-right:10px;
      svg{
        display:block;
        width:20px;
        height:20px;
        margin-right:5px;
      }
      input{
        width:180px;
        height:38px;
        font-family:inherit;
        font-size:0.85rem;
        border-width:0 0 1px 0;
        border-style:solid;
        border-color:#000;
        padding:0 10px;
        background:transparent;
      }
    }
  }
  .logo{
    margin-top:55px;
    text-align:center;
    img{
      display:inline-block;
      max-width:80px;
      height:auto;
    }
  }
  .navbar{
    margin:0;
    padding:0;
  }
  .menuArea{
    display:block;
    justify-content: center;
    .menuList{
      display:flex;
      justify-content: center;
      margin:0;
      a{
        position:relative;
        margin:0 5px;
        padding:15px 10px;
        box-sizing:border-box;
        cursor:pointer;
        &::after{
          content:'';
          position:absolute;
          left:0;
          bottom:0;
          display:block;
          width:100%;
          height:2px;
          background:#000;
          transform:scaleX(0);
          transition:all linear 200ms;
        }
        &:hover{
          &::after{
            transform:scaleX(1);
          }
        }
      }
    }
  }
}

@media (max-width:991px){
  .headerWrap {
    height:180px;
    .wrapper{
      position:relative;
    }
    .logo{
      margin-top:45px;
      img{
        max-width:70px;
      }
    }
    .utils{
      position:static;
      .btn_login{
        position:absolute;
        top:15px;
        right:0;
      }
      .searchBox{
        position:absolute;
        bottom:20px;
        left:50%;
        transform:translateX(-50%);
      }
    }
    .navbar{
      .container{
        padding:0;     
        button{
          position:absolute;
          top:-165px;
          width:38px;
          height:38px;
          padding:0;
          border: 1px solid #d5d5d5;
          box-sizing: border-box;
          border-radius:0;
          span{
            width:20px;
            height:20px;
          }
        }
      }
    }
  }
}

.productCard{
  position:relative;
  margin-bottom:80px;
  cursor:pointer;
  transition: all linear 200ms;
  .image{
    position:relative;
    border:1px solid #c9c9c9;
    box-sizing:border-box;
    aspect-ratio:100/150;
    background:#f9f9f9;
    img{
      position:relative;
      z-index:5;
      display:block;
      width:100%;
      height:auto;
    }
    &::before{
      position:absolute;
      top:50%;
      left:50%;
      z-index:1;
      transform:translate(-50%, -50%);
      display:block;
      content:'';
      width:50px;
      height:33px;
      background:url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/H%26M-Logo.svg/709px-H%26M-Logo.svg.png') 50% 50% no-repeat;
      background-size:100% auto;
      filter:grayscale(1);
      opacity:0.15;
    }
  }
  .title{
    font-size:1.25rem;
    line-height:1.35;
    margin-bottom:20px;
  }
  .price{
    font-size:1.25rem;
    line-height:1;
    text-align:right;
    font-style:italic;
  }
  .icons{
    position:absolute;
    top:1px;
    left:1px;
    z-index:10;
    display:flex;
    i{
      display:block;
      font-size:0.75rem;
      font-style:normal;
      padding:5px 10px;
      &.ico_new{
        background:gold;
      }
      &.ico_choice{
        background:greenyellow;
      }
    }
  }
  &:hover{
    transform: scale(1.05);
    .title{
      color:crimson;
    }
    .price{
      color:crimson;
    }
  }
}

.loadingSpinner{
  display:block;
  position:absolute;
  top:50%;
  left:50%;
}

.procutAllWrap{
  position:relative;
  /* min-height:calc(100vh - (230px + 120px)); */
  padding: 8rem 0 10rem;
  box-sizing:border-box;
}

.searchProductEmptyBox{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  min-height:calc(100vh - (230px + 120px + 300px));
  i{
    display:block;
    font-size:3rem;
    margin-bottom:10px;
  }
  p{
    font-size:1.25rem;
  }
  .btn_allProductList{
    display:inline-block;
    background:#000;
    padding:10px 15px;
    font-size:0.75rem;
    color:#fff !important;
    transition: background linear 200ms;
    &:hover{
      background:crimson
    }
  }
}

.loginWrap{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  /* min-height:calc(100vh - (230px + 120px)); */
  padding:80px 0;
  box-sizing:border-box;
  > div{
    width:90%;
    max-width:400px;
    h2{
      margin-bottom:30px;
      font-size:2.25rem;
      line-height:1;
      text-align:center;
    }
    form{
      border:1px solid silver;
      padding:5%;
      box-sizing:border-box;
    }
  }
}

.procutDetailWrap{
  position:relative;
  min-height:calc(100vh - (230px + 120px));
  padding:8rem 0 10rem;
  box-sizing:border-box;
  .topBox{
    position:relative;
    .imageBox{
      .image{
        position:relative;
        width: 70%;
        margin: 0 auto;
        border:1px solid #c9c9c9;
        box-sizing:border-box;
        aspect-ratio:100/150;
        background:#f9f9f9;
        img{
          position:relative;
          z-index:5;
          display:block;
          width:100%;
          height:auto;
        }
        &::before{
          position:absolute;
          top:50%;
          left:50%;
          z-index:1;
          transform:translate(-50%, -50%);
          display:block;
          content:'';
          width:50px;
          height:33px;
          background:url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/H%26M-Logo.svg/709px-H%26M-Logo.svg.png') 50% 50% no-repeat;
          background-size:100% auto;
          filter:grayscale(1);
          opacity:0.15;
        }
      }
      .icons{
        position:absolute;
        top:0px;
        left:0px;
        z-index:10;
        display:flex;
        i{
          display:block;
          font-size:0.75rem;
          font-style:normal;
          padding:5px 10px;
          &.ico_new{
            background:gold;
          }
          &.ico_choice{
            background:greenyellow;
          }
        }
      }
    }
    .textBox{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title{
        font-size:2rem;
        line-height:1.35;
        margin-bottom:20px;
      }
      .price{
        margin-bottom:40px;
        font-size:1.5em;
        line-height:1;
        text-align:right;
        font-style:italic;
      }
      .optionBox{
        display:flex;
        align-items: center;
        margin:10px 0;
        h3{
          width:120px;
          font-size:1rem;
          margin:0;
        }
        select{
          width:calc(100% - 120px);
          border:1px solid #b9b9b9;
          font-size:1rem;
          padding:5px 10px;
          margin:0;
          &:disabled{
            opacity:0.5;
          }
        }
      }
      .text{
        margin:30px 0 20px;
        p{
          display:flex;
          align-items: center;
          margin-bottom:5px;
          color:gray;
          i{
            display:block;
            width:25px;
            svg{
              width:16px;
            }
          }
          span{
            display:block;
            width:calc(100% - 50px);
          }
        }
      }
      .btn_cart{
        width:100%;
        height:50px;
        background:#000;
        color:#fff;
        &:hover:not(:disabled){
          background:crimson;
        }
        &:disabled{
          opacity:0.5;
        }
      }
    }
  }
  .bottomBox{
    position:relative;
    margin-top:50px;
    padding:50px 0;
    border-top:1px solid silver;
    h3{
      font-size:2rem;
    }
    img{
      width:auto;
      max-width:100%;
      height:auto;
    }
  }
}

footer{
  width:100%;
  height:120px;
  font-size:0.75rem;
  line-height:120px;
  color:#ffff;
  text-align:center;
  background:black;
}